.parallax {
    /* The image used */
    background-image: url("C:\Users\Arkedrille\Pictures\wallpapes\earth_from_space_russian.jpg");
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }